<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventario Bienes</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/logo_FLA.png">
        <style>
          .logo {
              display: block;
          }                
        </style>
    </head>
    <body>

        <div>
            <h1 class="sub-title">Funcionarios</h1>
       </div>

       <div class="new-container">

            <div class="form-container">
                <img src="/img/logo_FLA.png" alt="logo" class="logo">
                <h1 class="title">Editando funcionario: <%= position.nombres %></h1>

                <form action="/positions/<%= position.id %>" method="post" class="form">

                    <label for="identification" class="label">Identificación</label>
                    <input type="number" name="identification"  required class="input" value="<%= position.identification %>">

                    <label for="nombres" class="label">Nombre</label>
                    <input type="text" name="nombres"  required class="input" value="<%= position.nombres %>"

                    <label for="email" class="label">Email</label>
                    <input type="text" name="email"  required class="input" value="<%= position.email %>">

                    <label for="observations" class="label">Observaciones</label>
                    <input type="text" name="observations"  required class="input" value="<%= position.observations %>">

                    <button class="button">
                        <a href="/positions" class="icon-buttom">
                            <img src="/img/user_icon.png" alt="user-button" class="icon">   <input type="submit" value="Editar" class="submit">
                        </a>
                   </button>

                   <button class="button">
                        <a href="/positions" class="icon-buttom">
                            <img src="/img/cancel_icon.png" alt="user-button" class="icon">   Cancelar</a>
                    </button>

                </form>
            
            </div>

       </div>

    </body>
</html>