<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Funcionarios</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/logo_FLA.png">
        <style>
          .logo {
              display: block;
          }                
        </style>
    </head>
    <body>

        <nav class="nav-container">

            <a href="/" class="nav-logo">
                <img src="/img/logo_FLA.png" alt="Logo" class="logo-image">
            </a>

            <ul class="horizontal-currency">
                 
                <li><a href="/positions">
                    <img src="/img/user_icon.png" alt="" class="icon">Funcionarios</a></li>

                <li><a href="/under_construction.html">
                    <img src="/img/transfer_icon.png" alt="" class="icon">Traslados</a></li>

                <li><a href="/under_construction.html">
                    <img src="/img/email_icon.png" alt="" class="icon">Correos</a></li>

                <% if (user) { %>
                <li class="user_title"><%= user.user_name %></li>

                <li><a href="/signOut">
                    <img src="/img/close_icon.png" alt="" class="icon">Cerrar sesión</a></li>
                <% } %>
            </ul>
        </nav>

       <div>
            <h1 class="sub-title">Funcionarios</h1>
       </div>

       <button class="button">
            <a href="/positions/new" class="icon-buttom">
            <img src="/img/newUser_icon.png" alt="user-button" class="icon">   Agregar</a>
       </button>

       <button class="button">
            <a href="/" class="icon-buttom">
                <img src="/img/cancel_icon.png" alt="user-button" class="icon">   Cancelar</a>
       </button>

       
       <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% position.forEach(device => { %>
                    <tr>
                        <td><%= device.identificationNumber%></td>
                        <td><%= device.name%></td>
                        <td><%= device.email%></td>
                        <td><%= device.charge%></td>
                        <td>
                            <a href="/positions/<%= device.identificationNumber %>/edit" class="icon-buttom">
                                <img src="/img/edit_icon.png" alt="edit-buttom" class="icon">   Editar</a>

                            <a href="/positions/<%= device.identificationNumber %>/delete" class="icon-buttom">  
                                <img src="/img/delete_icon.png" alt="delete-icon" class="icon">   Eliminar</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
        </table>
       </div>

    </body>
</html>